/*
Propiedades CSS https://www.w3schools.com/cssref/index.php
Paleta de Colores    https://paletton.com/#uid=13A0u0k6+Pv0-+J3lWUbfESfYuz
Gradientes    https://cssgradient.io/
Carrusel    https://css-tricks.com/css-only-carousel/
Margenes y Padding  https://blog.hubspot.com/website/css-margin-vs-padding#:~:text=In%20CSS%2C%20a%20margin%20is,the%20space%20inside%20an%20element.
Colores Whatsapp    https://usbrandcolors.com/whatsapp-colors/
Internal CSS    https://blog.hubspot.com/website/add-css-to-html#how-to-add-internal-css-to-html
Minimum Font Size   https://accessibleweb.com/question-answer/minimum-font-size/#:~:text=Answer,usually%20be%2016px%20or%20larger.
#FAFCFE #DCE8F4 #B2C8DF #83A1C1 #55799F
Fondo                   Realce
Contraste               Sombra
Banner
*/

/*Inicialización*/
*{/*margin auto, box-sizing content-box, fuente Quicksand*/
    margin: auto;
    box-sizing: border-box;
    font-family: 'Quicksand';
}
.container{/*padding 10px*/
    padding: 1.5vh 0;
}
.subtitle{/*font-size 250%*/
    text-align: center;
    font-weight: 400;   /*Aligerar el tamaño*/
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-size: 3vw;
}

/*Estilizado*/
.color1{/*#83A1C1 Color de realce*/
    color: #83A1C1;
}
.color2{/*#FAFCFE Color de contraste*/
    color: #FAFCFE;
}
.sombra{/* 2px 2px 4px #83A1C1 */
    text-shadow: 0.2vw 0.2vw 0.4vw #83A1C1;
}
a{  /*Estilizado enlaces web*/
    color: #ffffff;
    text-decoration: none
}

/*Banner*/
header{/*está el fondo del banner*/
    height: 20.2vw;
    background: url(../img/Banner.jpg) no-repeat fixed;
    /*background-repeat: no-repeat;  /*imágen estática*/
    /*background-attachment: fixed;   /*imágen estática*/
    background-size: 100vw;
}
.banner{/*#FAFCFE Color de Banner*/
    font-weight: bolder;
    color: #FAFCFE;
}
.title{/*size 60px, shadow #55799F */
    padding-right: 30vw;   /*acomode a la izquierda*/
    text-align: center;
    font-size: 4.5vw;
    text-shadow: 0.3vw 0.3vw 1vw #55799F;
    height: 100%;
    margin: auto;
}
.doctor{/*tamaño 30px #FAFCFE sombra #55799F con overline*/
    font-weight: bolder;
    font-size: 2.25vw;
    color: #FAFCFE;
    text-shadow: 0.2vw 0.2vw 0.5vw #55799F;
    text-decoration-line: overline;
}
.SocialMedia{/*Botones de redes sociales, size 20px, weight bold, shadow 4px 4px 5px #000000*/
    font-size: 1.45vw;
    font-weight: bold;
    text-align: right;  /*acomode a la derecha*/
    margin-top: -10vw;  /*overlap*/
    margin-right: 4vw;
    text-shadow: 0.4vw 0.4vw 0.5vw #000000;
}
.whatsapp{ /* #25D366 sombra #B2C8DF */
    color: #25D366;
    text-shadow: 0.2vw 0.2vw 0.4vw #777777;
}
.tomaHoras{ /* #FF0000 sombra #FAFCFE */
    color: #FF0000;
    text-shadow: 0.2vw 0.2vw 0.4vw #777777;
}

/*Aviso*/
.warning{/*color #FAFCFE, gradient #B2C8DF, #83A1C1, #55799F, Font size 18px*/
    display: flex;
    align-items: center;
    color: #FAFCFE;
    background: rgb(178,200,223);
    background: linear-gradient(45deg, rgba(178,200,223,1) 0%, rgba(131,161,193,1) 75%, rgba(85,121,159,1) 100%, rgba(95,129,166,1) 759%);
    font-size: 1.37vw;
}
.icon{
    margin: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2vw;
}
main{ /*background #FAFCFE */
    background-color: #FAFCFE;
}

/*Melanoma*/
.stage{/*text-align center, font-size 125%*/
    text-align: center;
    font-size: 1.5vw;
    width: 90%;
}
.Melanoma{
    display: flex;
    align-items:center;
    margin: 5vw;
    margin-top: 1vw;
    margin-bottom:1vw;
    font-size: 1.4vw;
}
.GroupMelanoma{
    text-align: center;
}
.imgMelanoma{
    border: 1vw double #B2C8DF;
    width: 10vw;
    height: 10vw;
}
.NumberCircle{
    margin-top: 0.7vw;
    color: #55799F;
}
.number{
    display: inline-block;
    background-image: linear-gradient(120deg, #DCE8F4 0%, #83A1Ca 100%);
    width: 2.5vw;
    height: 2.5vw;
    color: #faffff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 2.5vw;
    margin-right: 0.5vw;
    font-size: 1.6vw;
}

/*Pacientes previos*/
.gallery{
    color:#FAFCFE;
    background: #dce8f4;
    padding-top: 1.5vh;
}
.video-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.video{
    width: 60vw;
    height: 30vw;
}

/*Tratamientos*/
.tratamientos{
    padding-bottom: 1vw;
    width: 90vw;
    color: #000000;
    max-width: 95%;
}
.SectionTratamientos{
    text-align: center;
    display:flex;
    max-width: 95%;
    margin: 2vw;
    justify-content:space-around;
}
.tratamiento{
    font-size: 4vw;
    text-align: center;
    margin: 1px;
    width: 25vw;
}
.titleTratamiento{
    font-size: 1.4vw;
    font-weight: bolder;
    max-width:25vw;
    word-wrap: break-word;
}
.textTratamiento{
    font-size: 1.2vw;
    max-width: 20vw;
    word-wrap: break-word;
}

/*Fondo flotante*/
figure{
    max-height: 33vh;
    height: 33vw;
    background-image: url(../img/Fondo-Flotante.jpg);
    background-repeat:  no-repeat;  /*imágen estática*/
    background-attachment: fixed;   /*imágen estática*/
    background-size:400vh;
    background-position:center;
    text-align:center;
    box-shadow: inset 0vw 1vw 2vw #000000;
}

/*Dirección*/
.adress{
    display: flex;
    padding: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background: #FAFCFE;
    justify-content: center;
}
.sTextAdress{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    height:fit-content;
    color: #55799F;
}
.textAdress{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    height:fit-content;
    color: #55799F;
}
.image{
    max-width:60vh;
    width: 30vw;
    max-height:60vh;
    height: 30vw;
    border: 1vw double #B2C8DF;
}
.map{
    max-width:85vh;
    width: 40vw;
    max-height:85vh;
    height: 40vw;
    border: 1vw double #B2C8DF;
}
.responsive{
    width: 100%;
    height: 100%;
    border: 0;
}

/*Biografía*/
footer{
    background: #DCE8F4;
    padding-bottom: 1vw;
    max-width: 90vw;
}
.biography{
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: #83A1C1;
    font-size: 1.17vw;
    text-align:center;
    width: 95%
}
.brand{
    font-weight: 500;
    font-size: 2.5vw;
    text-shadow: 0.2vw 0.2vw 0.4vw #FAFCFE;
}
.SectionCursos{
    display:flex;
    max-width: 95%;
    margin: auto;
}
.curso{
    text-align: center;
    margin: 1px;
}
.imgCurso{
    height: 5vw;
    -webkit-filter: drop-shadow(0.2vw 0.2vw 0.2vw #55799F); /* Sombra para PNG*/
    filter: drop-shadow(0.2vw 0.2vw 0.2vw #55799F);         /* Sombra para PNG*/
    margin: 1vw;
}
.titleCurso{
    font-size: 1.25vw;
    font-weight: bolder;
    max-width: 17vw;
    word-wrap: break-word;
}
.textCurso{
    font-size: 1vw;
    max-width: 17vw;
    word-wrap: break-word;
    margin-bottom: 2vh;
}

/* Extra small devices (phones, 600px and down) */@media only screen and (max-width: 599px) {
    .s{
        display:none;
    }
    .subtitle{/*font-size 250%*/
        font-size: 8vw;
    }
    
    /* Banner */
    header{/*está el fondo del banner*/
        height: 35vw;
        background-size: 173vw;
    }
    .title{/*size 60px, shadow #55799F */
        padding-right: 0vw;   /*acomode a la izquierda*/
        font-size: 6.5vw;
    }
    .doctor{/*tamaño 30px #FAFCFE sombra #55799F con overline*/
        font-size: 5vw;
    }
    .SocialMedia{/*Botones de redes sociales, size 20px, weight bold, shadow 4px 4px 5px #000000*/
        margin: 1vw;
        text-align: center;
    }
    .SocialMedia{
        display: flex;
        font-size: 3.5vw;
    }

    /*Aviso*/
    .warning{/*color #FAFCFE, gradient #B2C8DF, #83A1C1, #55799F, Font size 18px*/
        font-size: 2.9vw;
        text-align: center;
    }
    .icon{
        font-size: 0vw;
    }
    
    /*Melanoma*/
    .stage{
        font-size: 3.14vw;
        width: 90%;
    }
    .Melanoma{
        font-size: 3.6vw;
        display: unset;
    }
    .GroupMelanoma{
        display: flex;
        width: 60%;
        justify-content:center;
    }
    .imgMelanoma{
        width: 20vw;
        height: 20vw;
        margin: 1vw;
    }
    .number{
        display:none
    }

    /*Tratamientos*/
    .SectionTratamientos{
        display: unset;
    }
    .tratamiento{
        width: 80vw;
        font-size: 8vw;
    }
    .imgTratamientos{
        font-size: 8vw;
    }
    .titleTratamiento{
        font-size: 5vw;
        max-width:90vw;
        
    }
    .textTratamiento{
        font-size: 3.5vw;
        max-width: 80vw;
    }
    
    /*Dirección*/
    .adress{
        display:unset;
        padding: 5vw;
    }
    .sTextAdress{
        font-size: 4vw;
    }
    .textAdress{
        display: none;
    }
    .image{
        display:none;
    }
    .map{
        max-width:80vw and 150vh;
        width: 75vw;
        max-height:50vh;
        height: 75vw;
        
    }
    
    /*Biografía*/
    .biography{
        font-size: 3vw;
    }
    .brand{
        /* Agregado */
        font-size: 3.8vw;
    }
    .SectionCursos{
        display:unset;
    }
    .curso{
        display: flex;
        width: 90%;
        margin: auto;
    }
    
    .imgCurso{
        height: 12vw;
    }
    .titleCurso{
        max-width: 50vw;
        font-size: 3.5vw;
    }
    .textCurso{
        max-width: 40vw;
        font-size: 2.5vw;
    }
}

/*? Small devices (portrait tablets and large phones, 600px and up) */@media only screen and (min-width: 600px) and (max-width: 767px)  {
    /*Inicialización*/
    .s{
        display:none;
    }
    .subtitle{/*font-size 250%*/
        font-size: 6vw;
    }

    /* Banner */
    header{/*está el fondo del banner*/
        height: 33vw;
        background-size: 166vw;
    }
    .title{/*size 60px, shadow #55799F */
        padding-right: 0vw;
        font-size: 6vw;
    }
    .doctor{/*tamaño 30px #FAFCFE sombra #55799F con overline*/
        font-size: 3vw;
    }
    .SocialMedia{/*Botones de redes sociales, size 20px, weight bold, shadow 4px 4px 5px #000000*/
        margin: 1vw;
        margin-right: 2.5vw;
    }
    .SocialMedia{
        font-size: 2.8vw;
    }

    /*Aviso*/
    .warning{/*color #FAFCFE, gradient #B2C8DF, #83A1C1, #55799F, Font size 18px*/
        font-size: 2vw;
        text-align: center;
    }
    .icon{
        font-size: 6vw;
    }
    
    /*Melanoma*/
    .stage{
        font-size: 3vw;
        width: 90%;
    }
    .Melanoma{
        font-size: 4vw;
        display: unset;
    }
    .GroupMelanoma{
        display: flex;
        margin: 25vw;
        margin-top: auto;
        margin-bottom: 2vw;
    }
    .textMelanoma{
        width:40vw;
    }
    .imgMelanoma{
        width: 14vw;
        height: 14vw;
    }
    .number{
        display:none;
    }

    /*Tratamientos*/
    .imgTratamientos{
        display: unset;
    }
    .tratamiento{
        font-size: 8vw;
    }
    .titleTratamiento{
        font-size: 3vw;
    }
    .textTratamiento{
        font-size: 2vw;
    }
    
    /*Dirección*/
    .adress{
        display:unset;
        padding: 5vw;
    }
    .sTextAdress{
        font-size: 2vw;
        font-weight: bold;
        text-align: center;
        height:fit-content;
        color: #55799F;
        /* Agregado */
        font-size: 2.5vw;
    }
    .textAdress{
        display: none;
    }
    .image{
        display:none;
    }
    .map{
        max-width:80vw and 150vh;
        width: 100vw;
        max-height:50vh;
        height: 50vw;
        
    }
    
    /*Biografía*/
    .biography{
        font-size: 3vw;
    }
    .brand{
        /* Agregado */
        font-size: 3.8vw;
    }
    .SectionCursos{
        display:unset;
    }
    .curso{
        display: flex;
        width: 80vw;
        text-align: center;
        margin: auto;
        padding: 1vw;
    }
    .imgCurso{
        height: 10vw;
    }
    .titleCurso{
        max-width: 70vw;
        font-size: 3vw;
    }
    .textCurso{
        max-width: 50vw;
        font-size: 2.2vw;
    }
}

/*? Medium devices (landscape tablets, 768px and up) */@media only screen and (min-width: 768px) and (max-width: 991px){
    
    /*Inicialización*/
    .subtitle{/*font-size 250%*/
        font-size: 4vw;
    }

    /* Banner */
    .SocialMedia{
        font-size: calc(2vw);
    }

    /*Melanoma*/
    .stage{
        font-size: 2vw;
    }
    .Melanoma{
        font-size: 1.8vw;
    }
    .imgMelanoma{
        width: 13vw;
        height: 13vw;
    }
    .number{
        display:none;
    }

    /*Tratamientos*/
    .tratamiento{
        font-size: 5vw;
    }
    .titleTratamiento{
        font-size: 2vw;
    }
    .textTratamiento{
        font-size: 1.8vw;
    }
    
    /*Dirección*/
    .sTextAdress{
        display: none;
    }
    .textAdress{
        font-size: 2.5vw;
    }
    .map{
        width: 42vw;
        height: 42vw;
    }
    
    /* Biografía */
    .biography{
        font-size: 2.1vw;
    }
    .brand{
        font-size: 3vw;
    }
    .titleCurso{
        font-size: 1.8vw;
    }
    .textCurso{
        font-size: 1.5vw;
    }
}

/*? Large devices (laptops/desktops, 992px and up) */@media only screen and (min-width: 992px) and (max-width: 1199px){
    /*! Nada que hacer aquí */
    .sTextAdress{
        display: none;
    }
}

/*? Extra large devices (large laptops and desktops, 1200px and up) */@media (min-width: 1200px) {
    /*! Nada que hacer aquí */
    .sTextAdress{
        display: none;
    }
}