/*
Propiedades CSS https://www.w3schools.com/cssref/index.php
Paleta de Colores    https://paletton.com/#uid=13A0u0k6+Pv0-+J3lWUbfESfYuz
Gradientes    https://cssgradient.io/
Carrusel    https://css-tricks.com/css-only-carousel/
Margenes y Padding  https://blog.hubspot.com/website/css-margin-vs-padding#:~:text=In%20CSS%2C%20a%20margin%20is,the%20space%20inside%20an%20element.
Colores Whatsapp    https://usbrandcolors.com/whatsapp-colors/
Internal CSS    https://blog.hubspot.com/website/add-css-to-html#how-to-add-internal-css-to-html
#FAFCFE #DCE8F4 #B2C8DF #83A1C1 #55799F
Fondo                   Realce
Contraste               Sombra
Banner
*/

/*Inicialización*/
*{/*margin auto, box-sizing content-box, fuente Quicksand*/
    margin: auto;
    box-sizing: border-box;
    font-family: 'Quicksand';
}
header{/*está el fondo del banner*/
    height: 42vh;
    background-image: url(../img/Banner.jpg);
    background-repeat: no-repeat;  /*imágen estática*/
    background-attachment: fixed;   /*imágen estática*/
    background-size: 211vh;
}
.container{/*margin auto, padding 10px*/
    padding: 1.5vh 0;
}
.subtitle{/*font-size 250%*/
    text-align: center;
    font-weight: 400;   /*Aligerar el tamaño*/
    margin-bottom: 3vh;
    margin-top: 0%;
    font-size: 250%;
}

/*Estilizado*/
.color1{/*#83A1C1 Color de realce*/
    color: #83A1C1;
}
.color2{/*#FAFCFE Color de contraste*/
    color: #FAFCFE;
}
.sombra{/* 2px 2px 4px #83A1C1 */
    text-shadow: 2px 2px 4px #83A1C1;
}
a{  /*Estilizado enlaces web*/
    color: #ffffff;
    text-decoration: none
}

/*Banner*/
.banner{/*#FAFCFE Color de Banner*/
    font-weight: bolder;
    color: #FAFCFE;
}
.title{/*size 60px, shadow #55799F */
    padding-right: 50vh;   /*acomode a la izquierda*/
    text-align: center;
    font-size: 4.5vw;
    text-shadow: 3px 3px 10px #55799F;
    margin-top: 1.125vh;   /*acomode superior*/
}
.doctor{/*tamaño 30px #FAFCFE sombra #55799F con overline*/
    font-weight: bolder;
    font-size: 187.5%;
    color: #FAFCFE;
    text-shadow: 2px 2px 5px #55799F;
    text-decoration-line: overline;
}
.SocialMedia{/*Botones de redes sociales, size 20px, weight bold, shadow 4px 4px 5px #000000*/
    font-size: 125%;
    font-weight: bold;
    text-align: right;  /*acomode a la derecha*/
    margin-top: -20vh;  /*overlap*/
    margin-right: 3.33333vh;
    text-shadow: 4px 4px 5px #000000;
}
.whatsapp{ /* #25D366 sombra #B2C8DF */
    color: #25D366;
    text-shadow: 2px 2px 4px #777777;
}
.tomaHoras{ /* #FF0000 sombra #FAFCFE */
    color: #FF0000;
    text-shadow: 2px 2px 4px #777777;
}

/*Aviso*/
.warning{/*color #FAFCFE, gradient #B2C8DF, #83A1C1, #55799F, Font size 18px*/
    display: flex;
    color: #FAFCFE;
    background: rgb(178,200,223);
    background: linear-gradient(45deg, rgba(178,200,223,1) 0%, rgba(131,161,193,1) 75%, rgba(85,121,159,1) 100%, rgba(95,129,166,1) 759%);
    font-size: 112.5%;
}
main{ /*background #FAFCFE */
    background-color: #FAFCFE;
}

/*Melanoma*/
.stage{/*text-align center, font-size 125%*/
    text-align: center;
    font-size: 125%;
}
.Melanoma{
    display: flex;
    align-items:center;
    margin: 41.66667vh;
    margin-top:1.66667vh;    /*mucha separación hacia arriba*/
    margin-bottom:3.33333vh; /*mucho espacio para abajo*/
}
.imgMelanoma{
    border: 10px double #B2C8DF;
    width: 16.66667vh;
    height: 16.66667vh;
}
.NumberCircle{
    margin-top: 7px;
    color: #55799F;
}
.number{
    display: inline-block;
    background-image: linear-gradient(120deg, #DCE8F4 0%, #83A1Ca 100%);
    width: 30px;
    height: 30px;
    color: #faffff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/*Pacientes previos*/
.gallery{
    color:#FAFCFE;
    background: #dce8f4;
    padding-bottom: 5vh;
}
.video-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*Tratamientos*/
.tratamientos{
    color: #000000;
    text-align: center;
    margin: 10px;
}
.SectionTratamientos{
    display: flex;
    margin: 50px;
    margin-top: 10px;    /*mucha separación hacia arriba*/
    margin-bottom: 20px; /*mucho espacio para abajo*/;
}
.tratamiento{
    display:flex;
    text-align: center;
    margin:5px;
    margin:auto;
}
.imgTratamiento{
    margin-right: 10px;
    height: 50px;
    -webkit-filter: drop-shadow(2px 2px 2px #55799F);
    filter: drop-shadow(2px 2px 2px #55799F);
}
.titleTratamiento{
    font-size: 93.75%;
    font-weight: bolder;
    max-width: 200px;
    word-wrap: break-word;
}
.textTratamiento{
    font-size: 81.25%;
    max-width: 200px;
    word-wrap: break-word;
}

/*todo carrusel, poor hacer
@keyframes tonext {
    75% {left: 0;}
    95% {left: 100%;}
    98% {left: 100%;}
    99% {left: 0;}
}  
@keyframes tostart {
    75% {left: 0;}
    95% {left: -300%;}
    98% {left: -300%;}
    99% {left: 0;}
}
@keyframes snap {
    96% {scroll-snap-align: center;}
    97% {scroll-snap-align: none;}
    99% {scroll-snap-align: none;}
    100% {scroll-snap-align: center;}
}
*::-webkit-scrollbar {
    width: 0;
}
*::-webkit-scrollbar-track {
    background: transparent;
}  
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}  
* {
    -ms-overflow-style: none;
}  
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}  
.carousel {
    max-width: 600px;
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    height: 600px;
}
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}  
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}  
.carousel__slide:nth-child(even) {
    background-color: #99f;
}  
.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
}  
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}  
@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }  
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}  
.carousel:hover .carousel__snapper, .carousel:focus-within .carousel__snapper {
    animation-name: none;
}  
.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}  
.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}  
.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}  
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}  
.carousel::before,
.carousel__prev {
    left: -1rem;
}  
.carousel::after,
.carousel__next {
    right: -1rem;
}  
.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}  
.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}  
.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}*/

/*Fondo flotante*/
figure{
    height: 257px;
    background-image: url(../img/Manos.jpg);
    background-repeat:  no-repeat;  /*imágen estática*/
    background-attachment: fixed;   /*imágen estática*/
    background-size: cover;
    background-position:center;
    text-align:center;
    
}

/*Dirección*/
.adress{
    display: flex;
    padding: 5vh;
    padding-left: 30vh;
    padding-right: 30vh;
}
.textAdress{
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    height:fit-content;
    color: #55799F;
}
.image{
    border: 10px double #B2C8DF
}

/*Biografía*/
footer{
    background: #DCE8F4;
    padding-bottom: 0.1px;
    max-width: 1100px;
}
.biography{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    color: #83A1C1;
    font-size: 93.75%;
    text-align:center;
}
.brand{
    font-weight: 500;
    font-size: 250%;
    text-shadow: 2px 2px 4px #FAFCFE;
}
.SectionCursos{
    display:flex;
    margin: 50px;
    margin-top:10px;    /*mucha separación hacia arriba*/
    margin-bottom:20px; /*mucho espacio para abajo*/;
}
.curso{
    text-align: center;
    margin: 5px;
}
.imgCurso{
    height:75px;
    -webkit-filter: drop-shadow(2px 2px 2px #55799F);
    filter: drop-shadow(2px 2px 2px #55799F);
}
.titleCurso{
    font-size: 125%;
    font-weight: bolder;
    max-width:200px;
    word-wrap: break-word;
    
}
.textCurso{
    font-size: 87.5%;
    max-width:200px;
    word-wrap: break-word;
}